.card-skills {
  width: 170px;
  height: 120px;
  border-radius: 10px !important;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  margin-right: 40px;
}

.tooltip-style {
  text-transform: uppercase !important;
}

.card-skills img {
  width: 85px;
  height: 85px;
}

.mat-mdc-card-content {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.mat-mdc-card {
  box-shadow: none !important;
}
