mat-toolbar {
  height: 80px;
}

.container-img-profile {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.container-img-profile img {
  width: 100%;
  border-radius: 50px;
}

.container-buttons-nav {
  gap: 10px !important;
  display: flex;
}

.container-buttons-nav button {
  height: 45px;
}

.container-buttons-nav img {
  width: 20px;
  height: 20px;
}

header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

