<mat-toolbar color="white" >
  <header class="limit">
    <div class="container-img-profile">
      <img
        src="https://media.licdn.com/dms/image/C4E03AQHG6-SjnzUhXQ/profile-displayphoto-shrink_800_800/0/1646761909476?e=1720656000&v=beta&t=bZ-k28aiNpsqZ0NbOX-Q--nhg6615Koj-nHc5S8MoTY"
        alt="Foto do Vitor Moutim">
      <h1>Vitor Moutim</h1>
    </div>

    <div class="button-menu-mobile">
      <button mat-icon-button (click)="openMenu()">
        <mat-icon>{{ !menuIsOpen ? 'menu' : 'close' }}</mat-icon>
      </button>
    </div>

    <div class="container-buttons-nav">
      <button mat-raised-button color="primary" (click)="downloadCurriculum()">
        Baixar curriculo
        <mat-icon fontIcon="article"></mat-icon>
      </button>

      <a mat-raised-button href="https://wa.me/5511998181280" target="_blank">
        <img src="../../../assets/whatsapp.svg" alt="Icone do Github">
      </a>

      <a mat-raised-button href="https://github.com/moutim" target="_blank">
        <img src="../../../assets/github.svg" alt="Icone do Github">
      </a>

      <a mat-raised-button href="https://www.linkedin.com/in/vitormoutim/" target="_blank">
        <img src="../../../assets/linkedin.svg" alt="Icone do Linkedin">
      </a>
    </div>
  </header>
</mat-toolbar>
<div class="container-buttons-nav-mobile" *ngIf="menuIsOpen">
  <div>
    <button mat-raised-button color="primary" (click)="downloadCurriculum()">
      Baixar curriculo
      <mat-icon fontIcon="article"></mat-icon>
    </button>

    <div>
      <a mat-raised-button href="https://wa.me/5511998181280" target="_blank">
        <img src="../../../assets/whatsapp.svg" alt="Icone do Github">
      </a>

      <a mat-raised-button href="https://github.com/moutim" target="_blank">
        <img src="../../../assets/github.svg" alt="Icone do Github">
      </a>

      <a mat-raised-button href="https://www.linkedin.com/in/vitormoutim/" target="_blank">
        <img src="../../../assets/linkedin.svg" alt="Icone do Linkedin">
      </a>
    </div>
  </div>
</div>
