mat-toolbar {
  height: 80px;
  padding: 0;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-bottom: .1px solid rgba(0, 0, 0, 0.15);
}

.mat-mdc-raised-button.mat-primary {
  background-color: #EB3850;
}

.container-img-profile {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-img-profile img {
  width: 100%;
  border-radius: 50px;
}

.container-buttons-nav {
  gap: 10px !important;
  display: flex;
}

header a, header button, .container-buttons-nav-mobile a, .container-buttons-nav-mobile button {
  height: 45px;
}

.container-buttons-nav img, .container-buttons-nav-mobile img {
  width: 20px;
  height: 20px;
}

.flag-menu {
  width: 120px;
}

.flag-menu img {
  width: 33px;
  height: 33px;
  border-radius: 5%;
}

header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

::ng-deep .container-buttons-nav .mdc-button__label {
  display: flex !important;
}

.button-menu-mobile {
  display: none;
}

.container-buttons-nav-mobile {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.container-buttons-nav-mobile > div {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  gap: 20px;
  padding: 20px 0;
}

.container-buttons-nav-mobile > div div {
  display: flex;
  justify-content: space-between;
}

.container-buttons-nav-mobile > div a {
  width: 20%;
}

.flag-menu-mobile {
  width: 20%
}

.flag-menu-mobile-menu {
  width: 100%;
}

.flag-menu-mobile-menu img {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1000px) {
  .button-menu-mobile {
    display: flex;
  }

  .container-buttons-nav {
    display: none;
  }

  mat-toolbar {
    height: 70px;
  }

  .container-img-profile {
    width: 35px;
    height: 35px;
  }

  header h1 {
    font-size: 18px;
  }

  .container-buttons-nav-mobile {
    top: 70px;
  }
}
