mat-toolbar {
  height: 80px;
  padding: 0;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-bottom: .1px solid rgba(0, 0, 0, 0.15);
}

.mat-mdc-raised-button.mat-primary {
  background-color: #EB3850;
}

.container-img-profile {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-img-profile img {
  width: 100%;
  border-radius: 50px;
}

.container-buttons-nav {
  gap: 10px !important;
  display: flex;
}

.container-buttons-nav a, .container-buttons-nav button {
  height: 45px;
}

.container-buttons-nav img {
  width: 20px;
  height: 20px;
}

header {
  /* width: 80%; */
  display: flex;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

::ng-deep .container-buttons-nav .mdc-button__label {
  display: flex !important;
}
