<mat-toolbar color="white" >
  <header class="limit">
    <div class="container-img-profile">
      <img
        src="https://media.licdn.com/dms/image/C4E03AQHG6-SjnzUhXQ/profile-displayphoto-shrink_800_800/0/1646761909476?e=1726099200&v=beta&t=5hv-GQxFoVzapjif8HPEeKclD-8tSyCYijxveTxsk4s"
        alt="Foto do Vitor Moutim">
      <h1>Vitor Moutim</h1>
    </div>

    <div class="button-menu-mobile">
      <button mat-icon-button (click)="openMenu()">
        <mat-icon>{{ !menuIsOpen ? 'menu' : 'close' }}</mat-icon>
      </button>
    </div>

    <div class="container-buttons-nav">
      <button mat-raised-button color="primary" (click)="downloadCurriculum()">
        {{ languageFile.downloadCV }}
        <mat-icon fontIcon="article"></mat-icon>
      </button>

      <a mat-raised-button href="https://wa.me/5511998181280" target="_blank">
        <img src="../../../assets/whatsapp.svg" alt="Icone do Github">
      </a>

      <a mat-raised-button href="https://github.com/moutim" target="_blank">
        <img src="../../../assets/github.svg" alt="Icone do Github">
      </a>

      <a mat-raised-button href="https://www.linkedin.com/in/vitormoutim/" target="_blank">
        <img src="../../../assets/linkedin.svg" alt="Icone do Linkedin">
      </a>


      <button [matMenuTriggerFor]="menu" mat-raised-button class="flag-menu" class="flag-menu" [matTooltip]="toolTip" matTooltipClass="tooltip-style" matTooltipPosition="below" matTooltipHideDelay="200">
        <img [src]="flag" alt="Bandeira">
      </button>
      <mat-menu #menu="matMenu">
        <button mat-raised-button class="flag-menu" (click)="changeLanguage()" [matTooltip]="toolTipMenu" matTooltipClass="tooltip-style" matTooltipPosition="below" matTooltipHideDelay="200">
          <img [src]="flagMenu" alt="Bandeira">
        </button>
      </mat-menu>
    </div>
  </header>
</mat-toolbar>
<div class="container-buttons-nav-mobile" *ngIf="menuIsOpen">
  <div>
    <button mat-raised-button color="primary" (click)="downloadCurriculum()">
      {{ languageFile.downloadCV }}
      <mat-icon fontIcon="article"></mat-icon>
    </button>

    <div>
      <a mat-raised-button href="https://wa.me/5511998181280" target="_blank">
        <img src="../../../assets/whatsapp.svg" alt="Icone do Github">
      </a>

      <a mat-raised-button href="https://github.com/moutim" target="_blank">
        <img src="../../../assets/github.svg" alt="Icone do Github">
      </a>

      <a mat-raised-button href="https://www.linkedin.com/in/vitormoutim/" target="_blank">
        <img src="../../../assets/linkedin.svg" alt="Icone do Linkedin">
      </a>

      <button [matMenuTriggerFor]="menu" mat-raised-button class="flag-menu-mobile" [matTooltip]="toolTip" matTooltipClass="tooltip-style" matTooltipPosition="below" matTooltipHideDelay="200">
        <img [src]="flag" alt="Bandeira">
      </button>

      <mat-menu #menu="matMenu">
        <button mat-raised-button class="flag-menu-mobile-menu" (click)="changeLanguage()" [matTooltip]="toolTipMenu" matTooltipClass="tooltip-style" matTooltipPosition="below" matTooltipHideDelay="200">
          <img [src]="flagMenu" alt="Bandeira">
        </button>
      </mat-menu>
    </div>
  </div>
</div>
