<article class="article-projects limit" id="projects">
  <section class="section-introduction-projects">
    <h4>{{ languageFile.contactTitle }}</h4>
    <p>{{ languageFile.contactText }}</p>
    <a mat-flat-button href="https://www.linkedin.com/in/vitormoutim/" color="primary" target="_blank">
      {{ languageFile.contactButton }}
    </a>
  </section>

  <section class="section-projects">
    <p>{{ languageFile.projectsTitle }}</p>
    <h2>{{ languageFile.projectsSubtitle }}</h2>

    <div class="container-cards-projects">
      <app-card-project
        *ngFor="let item of languageFile.projects"
        [title]="item.title"
        [tech]="item.tech"
        [description]="item.description"
        [repo]="item.repo"
        [deploy]="item.deploy"
      />
    </div>
  </section>
</article>
