<mat-card class="card-project">
  <mat-card-content>
    <h4>case-psel-xp-backend</h4>
    <p>Linguagem: <span>JavaScript</span></p>
    <p>Essa aplicação simula um ambiente de uma corretora para investimentos em ações. Após ter realizada o cadastro ou
      o login, você receberá um token de autorização para realizar funcões com as ações e a conta do cliente.</p>
    <div class="container-buttons-projects">
      <button mat-stroked-button>
        <mat-icon fontIcon="code"></mat-icon>
        Repositório
      </button>

      <button mat-stroked-button>
        <mat-icon fontIcon="open_in_new"></mat-icon>
        Aplicação
      </button>
    </div>
  </mat-card-content>
</mat-card>
