.card-project {
  border-radius: 0;
}

.card-project mat-card-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px 0;
  gap: 20px;
}

.card-project button {
  height: 45px;
  width: 150px;
}

.card-project h4 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}

.card-project p {
  line-height: 30px;
  font-size: 16px;
  color: #495057;
  margin: 0;
}

.card-project-tech {
  font-size: 15px !important;
}

.card-project span {
  background-color: #eb385046;
  color: #eb3850;
  padding: 3px 10px;
  border-radius: 5px;
  line-height: 30px;
}

.container-buttons-projects {
  display: flex;
  gap: 40px;
}
