.section-skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #F1F3F5;
}

.section-skills h3 {
  font-size: 25px;
  font-weight: 500;
}

.container-skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}

.container-skills > app-card-skill {
  width: 20%;
}

.container-skills::-webkit-scrollbar {
  width: .5px;
  height: 7px;
}

.container-skills::-webkit-scrollbar-thumb {
  background-color: #EB3850;
  border-radius: 6px;
}

.container-skills::-webkit-scrollbar-thumb:hover {
  background-color: #C0263E;
}

@media screen and (max-width: 1000px) {
  .container-skills {
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 50px;
  }
}

@media screen and (max-width: 800px) {
  .container-skills {
    gap: 100px;
  }
}

@media screen and (max-width: 650px) {
  .container-skills {
    gap: 110px;
  }

  .container-skills::-webkit-scrollbar {
    width: .5px;
    height: 5px;
  }
}
