.article-banner-home {
  height: 95%;
  background-color:  #EB3850;
  display: flex;
  align-items: center;
}

.article-banner-home > div {
  color: white;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.article-banner-home div h2 {
  font-size: 45px;
  line-height: 60px;
}

.article-banner-home div p {
  font-size: 17px;
  line-height: 30px;
}

.article-banner-home a {
  height: 45px;
  width: 180px;
}

.container-buttons-banner {
  gap: 20px !important;
  margin-top: 10px;
  display: flex;
}

@media screen and (max-width: 900px) {
  .article-banner-home {
    margin-top: 70px;
    height: 80%;
  }

  .container-buttons-banner {
    flex-direction: column;
  }

  .container-buttons-banner a {
    width: 100%;
  }

  .article-banner-home > div {
    width: 100%;
    margin: auto;
  }

  .article-banner-home div h2 {
    font-size: 35px;
    line-height: 45px;
  }

  .article-banner-home div p {
    font-size: 15px;
    line-height: 27px;
  }
}

@media screen and (max-width: 500px) {
  .article-banner-home {
    height: 65%;
  }
}
